body {
  margin: 0;
}

.top {
  width:100%;
  height:50px;
  background-color: InactiveCaption;
  margin-top: 0;
  color:grey;

}

.contact {
  float: left;
}

.share {
  float: right;
  margin-right: 100px;
}
.top ul {
  list-style-type: none;
}
.top ul li {
float: left;
}
.share img {
  margin-left: 40px;
}

.nav {
  float: right;

}
